.footer{
  background-color:#FFD48C;
  display: flex;
  padding: 20px;
}


.footer img{
	width: 100px;
	border-radius: 20px;
	
}
.footer-left{
margin-left: 4px;
}
.footer-right{
	margin-right: 4px;
}
@media screen and (max-width:400px) {
	.footer{
		flex-direction: column;
	}

	.footer img{
		width: 80px;
		margin-top: 20px;
		
	}
	  
}