.new-product{
	display: flex;
	justify-content: center;
	align-items: center;
}
.new-product button{
	transition: all 0.5s;
	text-decoration: none;
	color: black;
	background-color: #FFD48C;
	border: 2px solid #F77F00;
	border-radius: 10px;
	padding: 10px;
	margin: 30px;
	font-size: 18px;

}
.new-product button:hover{
	background-color: #F77F00;
}
.new-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.new-item>*{
	padding: 10px;
}
.new-item input{
	padding: 10px;
	margin: 10px;
	width: 50%;
}
.new-item button{
	margin: 30px;
	transition: all 0.5s;
	background-color: #CBEEE7;
	border: 2px solid #F77F00;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	padding: 10px;

}
.new-item button:hover{
	background-color: #F77F00;
}
.new-item textarea{
	width: 50%;
	height: 150px;
}

